
{% extends "master.html" %}

{% block content %}
<table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Model</th>
        <th>Marca</th>
        <th>Ano</th>
        </tr>
        </thead>
        <tbody>
        {% for car in cars %}
        <tr>
        <td>{{ car.id }}</td>
        <td>{{ car.model }}</td>
        <td>{{ car.brand }}</td>
        <td>{{ car.year }}</td>
        </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock  %}